@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans-Regular.ttf');
}

* {
    font-family: OpenSans;
}

body{
    margin: 0 !important; 
    padding: 0 !important;
}

.test {
    clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 88%, 20% 100%, 0 100%, 0 0);
}


.puppy-size {
    @apply
    mt-[-14vh] sm:mt-[-13vh] md:mt-[-12vh] lg:mt-[-10vh] xl:mt-[-8vh] 2xl:mt-[-8vh]
    scale-[50%] sm:scale-[60%] md:scale-75 lg:scale-90 xl:scale-95 2xl:scale-100
    /* transition-all duration-300 ease-linear */
}

.heading-size-first {
    @apply
    text-[0.8rem] sm:text-[0.8rem] md:text-sm lg:text-lg xl:text-xl 2xl:text-2xl
    font-bold
    /* transition-all duration-300 ease-linear */
}

.heading-size-second {
    @apply
    text-sm sm:text-sm md:text-xl lg:text-2xl xl:text-2xl 2xl:text-2xl
    font-[900]
    /* transition-all duration-300 ease-linear */
}

.leaflet-shadow-pane{
    display: none !important;
}